.wrapper {
  display: flex;
  width: 100%;
  background-color: var(--Black);
}

.mainContent {
  flex: 1;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-left: 350px;
}
