.wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 350px;
  width: 100%;
  min-height: 100vh;
  background-color: var(--Black);
  overflow-x: hidden;
}

.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px;
  box-sizing: border-box;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 40px;
  max-width: 1920px;
  margin: 0 auto;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 40px;
  padding: 40px;
  box-sizing: border-box;
}

.mobileNav {
  display: none;
}

.mobileNav a {
  color: var(--White);
  padding: 8px 12px;
  text-decoration: none;
  transition: color 0.3s;
  font-size: 16px;
}

.mobileNav a.active {
  color: var(--Blue);
  font-weight: bold;
}

@media (max-width: 1024px) {
  .wrapper {
    flex-direction: column;
    width: 100%;
  }

  .content {
    margin: 0 12px;
    padding: 0 8px;
  }

  .mobileNav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: var(--Gray);
    border-bottom: 1px solid var(--light-Gray);
    padding: 12px 0;
    z-index: 1000;
  }

  .section {
    scroll-margin-top: 52px;
  }
}
