.pointer {
    position: fixed;
    width: 24px;
    height: 24px;
    background-color: #0095ff;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 99999;
    opacity: 0.5;
}
