.title {
  display: flex;
  justify-content: flex-start;
  font-size: 80px;
  font-weight: bold;
  color: var(--White);
  z-index: 2;
}

.semiTitle {
  display: flex;
  justify-content: flex-start;
  font-size: 20px;
  font-weight: bold;
  color: var(--White);
  z-index: 1;
  margin-bottom: 8px;
  margin-top: 12px;
  padding-bottom: 8px;
  border-bottom: 0.5px solid var(--White);
  width: 40%;
}

.rnrList > li > .semiTitle {
  border-bottom: none;
  width: 100%;
}

.contentText {
  margin: 8px auto;
  font-size: 16px;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-bottom: 0.5px solid var(--White);
  margin-bottom: 52px;
  padding-bottom: 32px;
}

/* header */
.thumbnail {
  display: flex;
  object-fit: contain;
  width: 100%;
}

.thumbnailLink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: -60px;
}

/* overview */

.overviewImg {
  display: flex;
  z-index: 2;
  margin: -30px auto 0;
  justify-content: center;
  align-items: center;
  /* position: relative; */
  object-fit: contain;
  width: 100%;
  max-width: 900px;
}

/* detail */

.detaileContainer {
  margin: 20px 0;
}

.detailList {
  margin: 20px;
}

.detailTItle {
  display: flex;
  justify-content: flex-start;
  font-size: 16px;
  font-weight: bold;
  color: var(--White);
  margin-bottom: 8px;
}

.logoImg {
  object-fit: contain;
  border: 1px solid var(--light-Gray);
  background-color: var(--White);
  border-radius: 8px;
  padding: 8px;
  margin-right: 8px;
}

.rnrImg {
  object-fit: contain;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.5);
}

.rnrList {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.rnrIndex {
  padding: 8px;
  margin: 20px 0 12px 0;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.5);
  font-weight: bold;
  font-size: 18px;
}

.rnrDetail {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 20px;
}

/* repository */

.bottomContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 52px;
  padding-bottom: 20px;
}

.githubLogo {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1024px) {
  .overviewImg {
    margin: -20px auto;
  }
}

@media (max-width: 768px) {
  .container,
  .bottomContainer {
    margin-bottom: 12px;
    padding-bottom: 12px;
    gap: 16px;
  }

  .title {
    font-size: 32px;
  }

  .semiTitle {
    font-size: 16px;
    width: 100%; /* 좁은 화면에선 가득 채우기 */
  }

  .thumbnail {
    margin-top: 40px;
    width: 100%;
    height: 200px;
  }

  .detailList {
    margin: 12px 0;
  }

  .detailTItle {
    font-size: 16px;
  }

  .contentText {
    font-size: 12px;
    margin-bottom: 8px;
  }

  .rnrIndex {
    font-size: 16px;
  }

  .rnrDetail {
    font-size: 12px;
  }

  .overviewImg {
    width: 100%;
    height: 200px;
  }

  .logoImg {
    width: 48px;
    height: 48px;
  }

  .githubLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    margin: 0 auto;
  }

  .closeBtn {
    size: 20px;
  }
}
